<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>@(ViewBag.Title)</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />

	@RenderSection(name: "StyleSheetExceptions", required: false)

	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>
			Layout: Learn (8)
		</h1>

		<h3>
			In the Layout:
			<br />
			SomeVariable1: @(ViewBag.SomeVariable1)
			<br />
			SomeVariable2: @(ViewBag.SomeVariable2)
			<br />
			SomeVariable2: @(ViewBag.SomeVariable3)
		</h3>

		@*
		// <summary>
		// Step (6)
		// </summary>
		*@

		@RenderBody()
	</div>

	@RenderSection(name: "JavaScriptExceptions", required: false)
</body>
</html>
