<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>@ViewBag.Title</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />

	@RenderSection(name: "StyleSheetExceptions", required: false)

	<script src="~/Scripts/jquery-3.1.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>

	@RenderSection(name: "JavaScriptExceptions", required: false)
</head>
<body>
	<div class="container">
		<h1>
			Layout: Learn (8)
		</h1>

		<div class="row">
			<div class="col-xs-12">
				ViewBag.SomeVariable1: @(ViewBag.SomeVariable1)
				<br />
				ViewBag.SomeVariable3: @(ViewBag.SomeVariable3)
			</div>
		</div>

		@*
			// <summary>
			// Step (6)
			// </summary>
		*@

		@RenderBody()
	</div>
</body>
</html>
