<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>@ViewBag.Title</title>

	<link href="@(Links.Content.bootstrap_min_css)" rel="stylesheet" />
	<link href="@(Links.Content.bootstrap_theme_min_css)" rel="stylesheet" />
	<link href="@(Links.Content.Site_css)" rel="stylesheet" />

	@RenderSection(name: "StyleSheetExceptions", required: false)
</head>
<body>
	<div class="container">
		<h1>
			Layout: Learn (9)
		</h1>

		@RenderBody()
	</div>

	<script src="@(Links.Scripts.jquery_3_5_1_min_js)"></script>
	<script src="@(Links.Scripts.bootstrap_min_js)"></script>

	@RenderSection(name: "JavaScriptExceptions", required: false)
</body>
</html>
